@import "~antd/dist/antd.css";

/* APP */
.main-layout {
  padding: 30px 40px;
}

/* HOME PAGE */
.home-page-content {
  display: flex;
  flex-direction: column;
  gap: 20px 30px;
}

.home-page-content .anticon {
  float: right;
}

@media screen and (min-width: 420px) {
  .home-page-content {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .page-content {
    width: 50%;
  }
}

@media screen and (min-width: 420px) {
  .page-content {
    padding: 16px 24px;
  }
}

/* QuestionPage */
.question-card {
  cursor: pointer;
}

/* Question Details Page */
.save-vote-button {
  float: right;
  margin-top: 30px;
}

.ant-list-item-meta {
  flex: 3;
  padding-right: 10px;
  padding-left: 10px;
}

.vote-count-col {
  flex: 3;
  padding-right: 10px;
  padding-left: 10px;
}

.vote-button {
  flex: 1;
  max-width: 100px;
  padding-right: 10px;
  padding-left: 10px;
}

/* NEW QUESTION PAGE */

@media screen and (min-width: 900px) {
  .new-question-form {
    max-width: 60%;
  }
}

.button-row .ant-form-item-control-input-content {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-top: 50px;
}

/* Components - customPageHeader*/
.site-page-header {
  margin-bottom: 50px;
}

@media screen and (max-width: 419px) {
  .ant-page-header {
    padding: 0;
  }
}
